# ==========================================
# Python / Django
# ==========================================
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
/staticfiles/
media/

# ==========================================
# Archives (zips)
# ==========================================
*.zip

# ==========================================
# Environment / secrets
# ==========================================
.env

# ==========================================
# OS / editor
# ==========================================
.DS_Store
Thumbs.db
.vscode/
.idea/
